@tailwind preflight;
@tailwind components;

.contentBlock {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  @apply px-base;
}

a {
  @apply text-primary no-underline;
}

a:hover,
a:focus {
  @apply text-foreground underline;
}

p {
  @apply max-w-lg mx-auto;
}

p + p {
  @apply mt-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headingText;
  @apply leading-tight;
}

h1 {
  @apply text-5xl font-normal mt-lg mb-base;
}

img {
  display: block;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.alignright {
  float: right;
}
.alignleft {
  float: left;
}

.buttonPrimary {
  @apply bg-primary text-primaryText p-sm font-bold rounded text-base no-underline inline-block;
}

.buttonPrimary:hover,
.buttonPrimary:focus {
  @apply bg-foreground text-background;
}

.buttonSecondary {
  @apply bg-secondary text-secondaryText p-sm font-bold rounded text-base no-underline inline-block;
}

.buttonSecondary:hover,
.buttonSecondary:focus {
  @apply bg-foreground text-background;
}

.buttonLarge {
  @apply p-base text-lg;
}

.navigation {
  @apply bg-primary text-primary;
}

@screen desktop {
  .navigation {
    @apply bg-transparent text-foreground border-foregroundSlight border-solid border-b border-t;
  }
}

.navigation a {
  @apply text-primaryText no-underline p-sm inline-block;
}

@screen desktop {
  .navigation a {
    @apply text-foreground;
  }
}

.navigation a:hover,
.navigation a:focus {
  @apply underline;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation li > ul {
  @apply ml-base mt-sm;
}

.navigation li {
  padding: 0;
  margin: 0;
}

.navigation li + li {
  @apply mt-sm;
}

@screen desktop {
  .navigation li + li {
    @apply mt-0;
  }
}

.navigationPanel {
  columns: 12rem auto;
}

@screen desktop {
  .navigationPanel {
    columns: auto;
  }
  .menu-header-menu-container a {
    @apply block p-sm;
  }
  .menu-header-menu-container a:hover,
  .menu-header-menu-container a:focus {
    @apply bg-foregroundSlight no-underline;
  }
  .menu-header-menu-container > ul {
    display: flex;
  }
  .menu-header-menu-container > ul > li + li {
    @apply ml-base;
  }
  .menu-header-menu-container > ul > li > a {
    @apply text-sm;
  }
  .menu-header-menu-container > ul > .menu-item-has-children {
    position: relative;
  }
  .menu-header-menu-container > ul > .menu-item-has-children > .sub-menu {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 0;
    min-width: 300px;
    @apply bg-background shadow-lg p-base m-0 rounded-sm;
  }
  .menu-header-menu-container > ul > .menu-item-has-children:hover > .sub-menu {
    pointer-events: all;
    opacity: 1;
  }
}

.slider-content--tr {
  top: 0;
  right: 0;
}
.slider-content--br {
  bottom: 0;
  right: 0;
}
.slider-content--bl {
  bottom: 0;
  left: 0;
}
.slider-content--tl {
  top: 0;
  left: 0;
}

.slider-content--tc {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slider-content--bc {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slider-content--cl {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.slider-content--cr {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slider-content img {
  width: 100%;
  height: auto;
}

.tns-outer {
  position: relative;
}

.tns-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.1rem;
  z-index: 1;
}

.tns-nav button {
  border-radius: 100%;
  border: 0;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #000;
  opacity: 0.75;
  margin: 0.5rem;
}

.tns-nav button.tns-nav-active {
  background: #000;
}

.tns-nav button:hover {
  opacity: 1;
}

.tns-controls {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.tns-controls button {
  pointer-events: all;
  padding: 5px 5px;
  background: #fff;
  opacity: 0.9;
  border: 0;
  font-family: sans-serif !important;
  font-size: 2.5rem;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

.tns-controls button:hover {
  opacity: 1;
  color: black;
}

.tns-controls button[data-controls="prev"] {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tns-controls button[data-controls="next"] {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footer a {
  @apply text-primaryText;
  @apply no-underline;
  @apply border-b;
  @apply border-solid;
  @apply border-backgroundSlight;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  @apply border-background;
}

@tailwind utilities;
