@tailwind preflight;
@tailwind components;

.contentBlock {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  @apply px-base;
}

p + p {
  @apply mt-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headingText;
  @apply leading-tight;
}

img {
  display: block;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.alignright {
  float: right;
}
.alignleft {
  float: left;
}

.navigation {
  @apply bg-primary text-primary;
}

.navigation a {
  @apply text-primaryText no-underline;
}

.navigation a:hover,
.navigation a:focus {
  @apply underline;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation li > ul {
  @apply ml-base mt-sm;
}

.navigation li {
  padding: 0;
  margin: 0;
  @apply leading-none;
}

.navigation li + li {
  @apply mt-sm;
}

.navigationPanel {
  columns: 8rem auto;
}

@screen desktop {
  .navigationPanel {
    columns: none;
  }
}

.footer a {
  @apply text-primaryText;
  @apply no-underline;
  @apply border-b;
  @apply border-solid;
  @apply border-backgroundSlight;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  @apply border-background;
}

@tailwind utilities;
